<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite from xml" verbose="1" >
    <parameter name="queryValue" value="AMAZON STOCK PRICE"/>
    <test name="Search" >
        <groups>
            <run>
                <exclude name="brokenTests"></exclude>
            </run>
        </groups>
        <classes>
            <class name="google.search.GoogleSearchTest">
                <methods>
                    <include name="test0002"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
